
@media (max-width: 850px) {
    #profile {

        main {
            padding-top: 0 !important;
        }

        .heading {
            min-width: 100%;

            .profile-heading {  
                max-height: 11rem;
                }
        
                .profile-pic {
                    top: 7rem;
                    width: 6rem;
                }
        }

        .content {
            flex-direction: column;
            min-width: 90%;

            .write-message-wrapper {
                margin-right: 0 !important;

                #write-message {
                
                    img {
                        width: 3rem;
                    }

                    .count-button {
                        padding: 0 !important;
                    }
                }
            }


            .message {
                display: flex;
                flex-direction: column;

                .message-img-wrapper {
                    max-width: 15%;
                    margin: 0.5rem !important;
                }

                .message-wrapper {
                    max-width: 78%;
                }
            }

            .friends {
                min-width: 100%;

                .profile-header {
                    display: flex;
                    justify-content: center;

                    .row {
                        min-width: 15rem;
                    }
                }

                .friends-img {
                    width: 5rem;
                }
            }
        }
    }
}

// @media (max-width: 780px) {
//     #index {

//     }
// }